#
# The MySQL database server configuration file.
#

[mysqld]

# GENERAL #
bind-address		                = 0.0.0.0
user                            = mysql
socket                          = /var/run/mysqld/mysqld.sock
pid_file                        = /var/run/mysqld/mysqld.pid

# MyISAM #
key_buffer_size                 = 32M
myisam_recover                  = FORCE,BACKUP

# SAFETY #
back_log                        = 128
default_storage_engine          = InnoDB
max_allowed_packet              = 1G
max_connect_errors              = 4294967295
sysdate_is_now                  = 1
skip-external-locking
memlock

#TODO Not sure if too strict. Need to verify all of these won't conflict. -RRR
#sql_mode                        = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
#innodb                          = FORCE       # We can enable this when we have time to convert tables
#innodb_strict_mode              = 1           # enable this with  'innodb = FORCE' # http://dev.mysql.com/doc/refman/5.5/en/innodb-other-changes-strict-mode.html

# DATA STORAGE #
datadir                         = <%=mysql_data_dir%>

# BINARY LOGGING #
expire_logs_days                = 20
sync_binlog                     = 1

# CACHES AND LIMITS #
tmp_table_size                  = 1G
max_heap_table_size             = 1G
query_cache_type                = 0
query_cache_size                = 0
max_connections                 = <%=mysql_max_connections%>
thread_cache_size               = 128
open_files_limit                = 65535
table_definition_cache          = 1024
table_open_cache                = 2048

# INNODB #
default-storage-engine          = INNODB
innodb_buffer_pool_size         = <%=mysql_innodb_buffer_pool_size%>
innodb_additional_mem_pool_size = 64M
innodb_flush_method             = O_DIRECT
innodb_flush_log_at_trx_commit  = 1
innodb_thread_concurrency       = 49 # (2n+d) / n=proc, d=disk
innodb_log_buffer_size          = 16M
# Enable the following after tables have been converted to InnoDB.
#innodb_log_files_in_group       = 2
#innodb_log_file_size            = 512M
#innodb_file_per_table           = 1

# LOGGING #
log_queries_not_using_indexes   = 1
log_error                       = <%=mysql_log_dir%>/error.log
slow_query_log                  = 1
slow_query_log_file             = <%=mysql_log_dir%>/slow.log

[client]
port                            = 3306
socket                          = /var/run/mysqld/mysqld.sock
max_allowed_packet              = 1G

 # Include confs in this dir
!includedir /etc/mysql/conf.d/
