[mysqld]

server-id                       = <%=mysql_slave_server_id%>
expire_logs_days                = 20
max_binlog_size                 = 1G
binlog_format                   = MIXED
log-slave-updates               = TRUE
sync_binlog                     = 1
innodb_flush_log_at_trx_commit  = 1

relay_log_purge                 = 1
# should be no less than 2x max_binlog_size/max_relay_log_size
relay_log_space_limit           = 10G

log_bin                         = <%=mysql_data_dir%>/binlog/mysql-bin
relay-log                       = <%=mysql_data_dir%>/binlog/relay-bin
relay-log-index                 = <%=mysql_data_dir%>/binlog/relay-bin.index
relay-log-info-file             = <%=mysql_data_dir%>/binlog/relay-bin.info
replicate-wild-ignore-table     = mysql.%
