<p><font size="2"><font face="Courier"><font color="#FF0000">MESSAGE OF THE DAY</font><br>
<font color="#FFFF00">Welcome to <%=csgo_ds_config_hostname%><br>
<br>
Map Rotation For This Server:</font></font><br>
<font face="Courier"><br>
</font></font><font size="2" face="Courier" color="#00FF00">
<% csgo_ds_mapcycle_array.each do |map|%>
<%=map%><br>
<% end %>
</font></p>